QPushButton {
    /* Shape Button */
    background-color: #1B1E20;
    border-radius: 5px;

    /* Font Button */
    color: #f5f5f5;
    font-family: 'MollenNarrow_Bold';
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
    padding-right: 6px;
    padding-left: 6px;

    /* Icon Button */
    qproperty-iconSize: 30px 30px;
}

QPushButton:hover {
    background-color: #645AC8;
}

QPushButton:pressed {
    background-color: #5441F6;
}

QPushButton:disabled {
    background-color: #1B1E20;
}
